<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/index.css">
    <title>Вход в систему</title>
</head>
<body>
    <h2>Вход</h2>
    <form id="loginForm">
        <label for="username">Имя пользователя:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="button" value="Войти" onclick="login()">
    </form> 

    <script src="/scripts/index.js"></script>
</body>
</html>
