body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h3{
    
    font-size: medium;
    color: #D13B3B;
    text-decoration: underline 3px #D13B3B;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.definition {
    padding: 10px;
    width: 50%;
}

.timeline {
    list-style: none;
    padding: 0;
}

.timeline li {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.separator line {
    stroke-width: 0.5px;
}


.navigation {
    text-align: right;
}

.navigation a {
    margin-right: 10px;
    text-decoration: none;
}
