@font-face {
    font-family: raydis;
    src: url(../fonts/raydis-font-1710198231-0/raydis.ttf);
}

@font-face {
    font-family: Pravda;
    src: url(../fonts/Pravda\ Newspaper\ CYR-ENG/pravdanewspapercyr_eng.otf);
}

@font-face {
    font-family: Cormorant;
    src: url(../fonts/Cormorant_Infant/CormorantInfant-Light.ttf);
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2{
    margin-top: 0px ;
    margin-bottom:10px ;
}

h3{
    margin-top: 10px;
    font-size:20px;
    color: #D13B3B;
    text-decoration: underline 2px #D13B3B;
}

h4{
    font-family: Pravda;
}

main {
    margin: 0;
    padding: 0;
}


.definition {
    padding: 0px 10px 10px 10px;
    display:flex;
    flex-wrap: nowrap;
}

.descrip{
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-family: Cormorant;
}

.pr {
    border-bottom: 3px solid white;
    font-family: raydis;
    font-size: 35px;
    width: 650px;
}


.play{
    text-align: center;
    width: 50%;
}

.material-symbols-outlined{
    margin: 0;
    padding: 0 ;
}

.but{
    color: white;
    background-color: #D13B3B;
    font-size: x-large;
    padding: 10px 60px 10px 60px;
    border-radius: 8px;
    margin-top: 15px;
    font-family: Pravda;
}

.timeline {
    list-style: none;
    padding: 0;
}

.timeline li {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.separator line {
    stroke-width: 4px;

}
.separator{
    margin: 0;
    padding: 0;
    width: 2px;
}


.navigation {
    text-align: right;
}

.navigation a {
    margin-right: 10px;
    text-decoration: none;
}

.prehistory {
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #D13B3B;
    color: white;
}

.block1{
    display: flex;
    flex-wrap: nowrap;
}

.slaid1 {
    width: 100%;
}

.slaid2 {
    width: 100%;
}

@media (max-width: 700px) {
    .pr {
        font-size: 20px;
    }

    .block1 {
        display: flex;
        flex-wrap: wrap;
    }

    .slaid2 {
        width: 50%;
    }
}
